<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
<targets>
      <target name="debugFile" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="File" fileName="${basedir}/logs/debug.log" layout="${longdate} ${threadid} [${level:uppercase=true}] ${message}" />
      </target>
      <target name="errorFile" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="File" fileName="${basedir}/logs/error.log" layout="${longdate} [${level:uppercase=true}] ${message}" />
      </target>    
  </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugFile" />
      <logger name="*" minlevel="Error" writeTo="errorFile" />
    </rules>
</nlog>